.caro-title{
    text-align: center;
    color: gray;
    padding-top: 50px;
}
.caro-para{
  text-align: center;
  color: gray;
  padding:20px 0px  50px 0px;
}
.caro-flex{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.caro-card{
    background: linear-gradient(to right,#009688,#185383);
    padding: 20px;
    width: 500px;
    border-radius: 10px;
    margin: 40px 0px 30px 40px;
    color: whitesmoke;
    
}
.person{
    display: flex;
    gap: 20px;
    border-bottom: 1px solid white;
 }
 .goal{
    padding-left: 34px;
 }
 .all-photo{
    display: grid;
    grid-template-columns: repeat(4,300px);
    grid-gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
 }
 .photo-size{
    width: 100%;
 }
 .caro-flex img {
    width:100%;
 }
 .btn-insta{
    /* display:flex; */
  
   
 }
 .btn-insta{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   gap: 20px;
   margin-bottom: 50px;
}
.load{
    outline: none;
    border: none;
    background: gray;
    color:white;
    padding: 5px 30px 5px 30px;
    border-radius: 5px;

}
.follow{
    outline: none;
    border: none;
    background:rgb(23, 110, 182);
    color:white;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;

}
.fall{
    outline: none;
    border: none;
    background:rgb(23, 110, 182);
    color:white;
    padding-left: 10px;
}





























































 .carousel-indicators{
    bottom: -40px !important
    
}
.caro-color{
    background: whitesmoke;
    padding: 50px 0px 50px 0px;
}
.carousel-control-next-icon{
    display: none !important
}
.carousel-control-prev-icon{
    display: none !important
}
p{
    margin: 0  !important;
}


@media only screen and (max-width:800px) {
    .all-photo{
      display: grid;
      grid-template-columns: repeat(3,70px);
    }
    .trans-img{
        width: 300px;
    }
    .caro-card{
        margin: 40px 10px 10px 10px;
    }
    .caro-para{
        padding: 0;
    }
    .caro-flex{
        display: grid;
        grid-template-columns: repeat(2,150px);
    }
    
}