.paymentdata-layout {
    padding: 50px 0px 0px 278px;
    display: flex;
    gap: 8%;
    flex-wrap: wrap;
}


.data-detail {
    font: normal normal 300 16px Poppins;
    letter-spacing: 0.07px;
    color: #212529;
    opacity: 1;
    padding-bottom: 40px;
}

.data-info {
    font: normal normal 600 22px/33px Poppins;
    letter-spacing: 0.09px;
    color: #212529;
    opacity: 1;
}

.data-address {

    font: normal normal normal 16px Poppins;
    letter-spacing: 0.07px;
    color: #212529;
    opacity: 1;
}

.data-pay {
    font: normal normal 600 22px/33px Poppins;
    letter-spacing: 0.09px;
    color: #212529;
    opacity: 1;
}

.pay-method {
    font: normal normal medium 16px/25px Poppins;
    letter-spacing: 0.06px;
    color: #212529;
    opacity: 1;
}

.payment-method {
    display: flex;
    gap: 24px;
    padding-top: 69px;


}

.credit {
    width: 169px;
    height: 88px;
    border-radius: 8px;
    opacity: 1;
    background-color: #E9ECEF;
    box-shadow: 0px 8px 32px #0c335a14;
    cursor: pointer;

}

.shadow {
    box-shadow: 0px 8px 32px #0c335a14;
    margin-top: 80px;
}

.cre-pad {
    padding: 10px 0px 10px 60px;
}

.card-text {
    font: normal normal 300 10px Poppins;
    letter-spacing: 0.05px;
    color: #495057;
    text-align: center;

}

.upi-pad {
    padding: 24px 0px 10px 30px;
}

.bank-pad {
    padding: 10px 0px 10px 65px;
}

.pay-pad {
    padding: 10px 0px 10px 65px;
}

.complete-btn {
    margin-top: 50px;
    width: 609px;
    height: 56px;
    background: #000000 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
    font: normal normal normal 20px/30px Poppins;
    letter-spacing: 0.08px;
    color: #E9ECEF;
    opacity: 1;
    text-transform: uppercase;
}

.card-detail {
    padding: 60px 0px 0px 0px;
    font: normal normal 600 22px/33px Poppins;
    letter-spacing: 0.09px;
    color: #212529;
    opacity: 1;
}

.encrypt {
    font: normal normal normal 14px Poppins;
    letter-spacing: 0.06px;
    color: #6C757D;
    opacity: 1;
}

.encrypt-flex {
    display: flex;
    align-items: center;
    width: 555px;
    height: 48px;
    background: #F4F5F6 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
    gap: 10px;
    padding: 10px;

}

.input-encry {
    border: none;
    outline: none;
    background-color: #F4F5F6;

}

.cards-flex {
    justify-content: space-between;
    margin-top: 20px;
}

.crd-text {

    font: normal normal normal 14px Poppins;
    letter-spacing: 0.06px;
    color: #6C757D;
    opacity: 1;
}

.input-card {
    border: none;
    outline: none;
    background-color: #F4F5F6;
    padding-left: 10px;

}

@media screen and (max-width:720px) {

    .paymentdata-layout {
        padding: 10px 10px 10px 10px;
    }

    .payment-method {
        display: block;
        padding-left: 100px;
    }

    .credit {
        margin-bottom: 10px;
    }

    .encrypt-flex {
        width: auto;
    }

    .crd-text {
        padding: 0;
        display: none;
    }

    .complete-btn {
        margin: 0 auto;
        display: block;
        width: 50%;
        font-size: 16px;
        border: none;


    }

    .product-header {
        padding-bottom: 30px;
    }

}