@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
*{
    margin: 0;
    padding: 0;
}
.social{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: rgb(63, 78, 71);
    padding: 10px;
}
.logo-size{
    width: 150px;
    height: auto;
}
.search-box{
    display: flex;
    background: whitesmoke;
    gap: 10px;
    padding: 15px 0px 15px 10px;
    width: 650px;

}
.head-search{
    outline: none;
    border: none;
    background: whitesmoke;
    cursor: pointer;
    width: 600px;

}
.account{
    display: flex;
    gap: 10px;
}
.user{
    display: flex;
    gap: 20px;
}
.main-logo{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px 0px 20px 0px;
}
.nav-flex{
    display: flex;
    gap: 90px;
    color: white;
}
.link:hover{
    border-top: 2px solid white;
    cursor: pointer;
}
.navigation{
    display: flex;
    justify-content: space-around;
    background: gray;
    height: 25px;
    padding: 20px 0px 50px 0px;
}
.main-hero{
    position: relative;
}
.hero{
    width: 100%;
    height: 600px;
    opacity: 0.3;

}
.hero-logo{
    background: rgba(0,0,0.5);
}
.hero-title{
    color: whitesmoke;
    text-align: center;
    padding: 0px 0px 10px 0px;

}
.title{
    position: absolute;
    top:30%;
    left: 30%;
    
}
.title-para{
color: white;
text-align: center;
padding-bottom: 20px;
}
.btn-one{
    outline: none;
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    color: white;
    background: wheat;
}
.btn-two{
    outline: none;
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    color: white;
    background: black;

}
.hero-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
   
}
.image-section{
    position: absolute;
    top: 80%;
    display: flex;
    gap: 20px;
    left: 3%;
    align-items: center;    

}
.radius{
    border-radius: 100%;
    width: 100%;
}
.card-flex{
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.trans-img{
    width: 450px;
    background: black;
    
}
.opacity{
    width: 100%;
    height: 250px;
    opacity: 0.3;
}
.trans-layout{
    position: relative;
    
}
.trans-center{
    position: absolute;
    top: 20%;
    text-align: center;
    left: 1%;
}
.caro-text{
   color: whitesmoke;
   /* text-align: center; */
}
.artical{
    color: whitesmoke;
    text-align: center;
    padding: 0px 10px 0px 20px;
}
.view{
    margin: 50px auto;
    display: block;
}
.view{
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 5px 20px 5px 20px;
}
.photos{
    margin: 80px 10px 50px 10px;
}
.photo-flex{
    display: flex;
    align-items: center;
    gap: 10px;
}
.insta{
    color: rgb(116, 12, 12);
}

@media only screen and (max-width:800px) {
    .search-box{
        width: auto;
    }
    .head-search{
        width: auto;
    }
    .navigation{
        display: none;
    }
    .title{
        left: 0;
    }
    .image-section{
        top:90%;
    }
    .hero{
      height: 400px;
    }
 
}