.product-layout {
    padding: 50px 0px 0px 278px;
    display: flex;
    align-items: center;
    gap: 20%;
    flex-wrap: wrap;
}

.product-header {
    display: flex;
    gap: 42px;
    padding-bottom: 74px;

}

.form-flex {
    display: flex;
    gap: 10px;
    padding-top: 24px;
    flex-wrap: wrap;
}

.form-input {
    background: #F4F5F6 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
    border: none;
    outline: none;
    width: 275px;
    height: 40px;
    padding: 10px;
    font: normal normal normal 14px/21px Poppins;
    letter-spacing: 0.06px;
    color: #6C757D;
    opacity: 1;
}

.ship {
    font: normal normal 600 16px/25px Poppins;
    letter-spacing: 0.06px;
    color: #212529;
    opacity: 1;
}

.payment {
    font: normal normal normal 16px/25px Poppins;
    letter-spacing: 0.06px;
    color: #6C757D;
    opacity: 1;
}

.information {
    font: normal normal 600 22px/33px Poppins;
    letter-spacing: 0.09px;
    color: #212529;
    text-transform: capitalize;
    opacity: 1;
}

.product-detail {
    font: normal normal normal 18px/27px Poppins;
    letter-spacing: 0.07px;
    color: #212529;
    opacity: 1;
    padding-bottom: 48px;
}

.address-input {
    width: 558px;
    height: 40px;
    background: #F4F5F6 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
    border: none;
    outline: none;
    padding: 10px;
    font: normal normal normal 14px/21px Poppins;
    letter-spacing: 0.06px;
    color: #6C757D;
    opacity: 1;
    margin-top: 26px;
}

.arrow {
    color: #F4F5F6;

}

.ship-pay {

    background: #000000 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
    font: normal normal normal 20px/6 Poppins;

    letter-spacing: 0.08px;
    color: #E9ECEF;
    opacity: 1;
    text-transform: uppercase;
    padding: 10px 160px 10px 160px;
    margin-left: 70px;
    text-decoration: none;
}

.ship-pay:hover {
    color: white;
}



.shadow {
    margin-top: 80px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 8px;
    opacity: 1;
    box-shadow: 0px 8px 32px #0c335a14;
    margin-bottom: 30px;
}

.summary {
    font: normal normal 600 22px/27px Poppins;
    letter-spacing: 0.09px;
    color: #212529;
    padding: 30px 0px 0px 26px;

}

.item {
    padding-top: 30px;
    font: normal normal normal 18px/27px Poppins;
    letter-spacing: 0.07px;
    color: #6C757D;
    text-transform: capitalize;
}

.sum-top {
    display: flex;
    gap: 10px;
    border-bottom: 1px solid gray;


}

.sum-left {
    padding: 20px 30px 30px 26px;
    display: flex;
    gap: 16px;
}

.sum-logo {
    width: 88px;
    height: 88px;
    border-radius: 8px;
    opacity: 1;
    margin-top: 10px;
}

.sum-title {
    font: normal normal 500 18px Poppins;
    letter-spacing: 0.07px;
    color: #000000;
    opacity: 1;
}

.sum-size {
    font: normal normal normal 16px Poppins;
    letter-spacing: 0.06px;
    color: #6C757D;
    opacity: 1;
}

.span-gap {
    display: flex;
    gap: 10px;
}

.Edit {
    border-bottom: 1px solid #ADB5BD;
}

.remove {

    border-bottom: 1px solid #ADB5BD;
}

.flex-try {
    display: flex;
    gap: 20px;
    border-bottom: 1px solid #ADB5BD;
    flex-wrap: wrap;

}

.sum-last-flex {
    padding: 30px 0px 0px 0px;

}

.price-flex {
    display: flex;
    align-items: center;
    gap: 15px;
}

.actual-price {

    font: normal normal normal 16px/25px Poppins;
    letter-spacing: 0.06px;
    color: #ADB5BD;
    opacity: 1;

}

.sum-price {
    padding-top: 10px;
    text-decoration: line-through;
    font: normal normal normal 12px Poppins;
    letter-spacing: 0.06px;
    color: #ADB5BD;
}

.discount {
    display: flex;
    align-items: center;
    gap: 10px;
}

.count-price {
    font: normal normal normal 14px Poppins;
    letter-spacing: 0.06px;
    color: #ADB5BD;
    opacity: 1;

}

.count-rate {
    font: normal normal 700 12px Poppins;
    letter-spacing: 0.06px;
    color: black;
}

.summary-footer {
    padding: 20px 20px 20px 20px;
}

.total-flex {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.sub {
    font: normal normal 600 16px Poppins;
    letter-spacing: 0.07px;
    color: #000000;
    opacity: 1;
}

.total-price {
    font: normal normal 400 16px Poppins;
    letter-spacing: 0.06px;
    color: #212529;
}

.tax {
    font: normal normal normal 16px/25px Poppins;
    letter-spacing: 0.06px;
    color: #495057;
    opacity: 1;
}

.shipping {
    font: normal normal normal 16px Poppins;
    letter-spacing: 0.06px;
    color: #495057;
    opacity: 1;
}

.grand {
    font: normal normal 600 20px Poppins;
    letter-spacing: 0.08px;
    color: #000000;
    opacity: 1;
}

.tal-price {
    font: normal normal 200 16px Poppins;
    letter-spacing: 0.06px;
    color: #495057;
}

.input-arrow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 275px;
    height: 40px;
    background: #F4F5F6 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
    padding: 10px;
}

.input-none {
    border: none;
    outline: none;
    background: #F4F5F6 0% 0% no-repeat padding-box;
}

.color-opacity {
    opacity: 0.3;
    cursor: pointer;
}

.state {
    width: 275px;
    background: #F4F5F6 0% 0% no-repeat padding-box;
}

@media screen and (max-width:720px) {

    .right-slide {

        width: 100%;


    }

    .information {
        padding-left: 20px;
    }

    .sum-last-flex {
        padding: 0 0px 0px 30px;
    }

    .sum-left {
        padding: 20px 0px 0px 40px;
    }

    .product-layout {
        padding: 0;
    }

    .address-input {
        width: auto;
    }

    .ship-pay {
        padding: 5px 20px 5px 20px;
    }

    .form {
        padding-left: 20px;
    }

    .product-detail {
        padding-left: 20px;
    }



    .ship-info {
        padding-left: 20px;
    }

    .product-header {
        padding: 20px 0px 0px 20px;
    }


}