@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.saree-layout {
    margin: 70px 240px 0px 140px;
}

.saree-main {
    padding: 30px 60px 0px 0px;
}

.saree-header {
    display: flex;
    gap: 20px;
    border-bottom: 1px solid wheat;

}

.logo-title {
    font: normal normal normal 18px Poppins;
    letter-spacing: 0.07px;
    color: #212529;
    opacity: 1;
    padding-top: 40px;
    padding-left: 5px;
    padding-bottom: 70px;
}

.saree-border {
    display: flex;
    justify-content: space-between;
    border: 1px solid #ADB5BD;
    padding: 10px;
    width: 314px;
    cursor: pointer;
}

.sort {
    color: #ADB5BD;
}

.style {
    letter-spacing: 0.07px;
    color: #212529;
    text-transform: capitalize;
    opacity: 1;
    font-size: 15px;
    font-family: "Poppins";
    text-decoration: none;
}

.style:hover {
    color: black;
}

.recom {
    letter-spacing: 0.06px;
    color: #212529;
    font-size: 16px;
    font-family: "Poppins";
}

.saree-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.all-cloth {
    padding-right: 260px;
    font: normal normal 500 24px/35px Poppins;
    letter-spacing: 0.1px;
    color: #212529;
    opacity: 1;
}

.saree-cloth {

    font: normal normal 500 24px Poppins;
    letter-spacing: 0.1px;
    color: #212529;
    opacity: 1;
    padding-right: 200px;
}

.saree-shop {
    font: normal normal normal 32px Poppins;
    letter-spacing: 0.13px;
    color: #212529;
    opacity: 1;
}

.cata {
    font: normal normal 600 20px Poppins;
    letter-spacing: 0.09px;
    color: #212529;
    opacity: 1;
    padding-top: 32px;
    cursor: pointer;

}

.saree-list {
    display: flex;
    gap: 15%;


}

.saree-grid-flex {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-gap: 3%;
    margin-top: 50px;
    margin-bottom: 80px;

}



.saree-grid {
    padding: 0px 100px 0px 0px;
}

.saree-desing {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 8px 32px #0C335A14;
    border-radius: 8px;
    opacity: 1;

}

.sareename {
    padding-top: 16px;
    font: normal normal 600 16px Poppins;
    letter-spacing: 0.06px;
    color: #6C757D;
    opacity: 1;
}

.producttitle {
    font: normal normal 600 18px 'Poppins';
    letter-spacing: 0.07px;
    color: #212529;
    opacity: 1;


}

.sareediscount {
    text-decoration: line-through;
    font: normal normal normal 14px/21px Poppins;
    letter-spacing: 0.06px;
    color: #FFB8B8;
    padding-left: 10px;

}

.upsaree {

    padding: 20px 0px 15px 0px;
    gap: 10px;
}

.saree-left {
    padding-left: 12px;
}

.sareerate {
    font: normal normal 600 20px/30px Poppins;
    letter-spacing: 0.08px;
    color: #212529;
}

.arrow-flex {
    display: flex;
    gap: 5px;
}

.arrow-align {
    padding-top: 26px;
    cursor: pointer;
}

.arrow {
    opacity: 0.3;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 122px;
    gap: 22px;
    padding-left: 40px;

}

.prev {
    font-size: 18px;
    font-family: "Poppins";
    font-weight: 500;
    letter-spacing: 0.07px;
    color: #000000;
    text-transform: capitalize;
    opacity: 1;
}

.pagi-color {
    padding: 5px 12px 5px 12px;
    border: none;
    outline: none;
    border-radius: 20px;
}

.pagi-color:hover {
    background-color: black;

    color: white;
}

.prev {
    cursor: pointer;
}

p {
    cursor: pointer;
}

.logo-width {
    width: 100%;
    height: auto;
}

.logos {
    width: 100%;
}

.logo-saree {
    width: 100%;
}

.dress-top {
    padding-top: 10px;
}

/* 
.pagi-color:hover {
    background-color: black;
    background: black;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 20px;
    height: 40px;
    color: white;

} */


/* mobile responsive  */

@media screen and (max-width:760px) {

    .saree-header {
        display: flex;
        flex-wrap: wrap;
    }

    .saree-layout {
        margin: 10px 10px 0px 10px
    }

    .logo-saree {
        width: 100%;
        margin: 0;
    }

    .logo-title {
        padding: 10px 0px 0px 0px;
        font-size: 15px;
    }

    .saree-flex {
        display: block;
    }

    .saree-list {
        display: flex;
        flex-wrap: wrap;
    }

    .saree-cloth {
        padding: 0;
        font-size: 16px;
        padding-right: 40px;
    }

    .recom {
        font-size: 15px;
    }

    .saree-grid-flex {
        display: grid;
        grid-template-columns: repeat(auto-fit, 260px);
        margin: 0px 0px 0px 30px;
        gap: 10px;

    }

    .cata {
        width: auto;
    }

    .logo-saree {
        width: 100%;
    }

    .pagination {
        gap: 1px;
        width: auto;
        margin: 0;
        justify-content: center;
        margin-right: 40px;
        padding: 0;

    }

    .saree-grid-flex {
        margin: 20px 20px 20px 40px;
        height: auto;
    }

    .logo-width {
        width: 100%;
        height: auto;
    }

    .upsaree {
        padding: 10px 0px 10px 0px;
    }

    .prev {
        display: none;
    }


}

/* laptop responsive */

@media screen and (max-width:1280px) {

    .saree-grid-flex {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        margin-top: 40px;
    }

    .saree-layout {
        margin: 20px 20px 20px 20px;
    }

    .saree-list {
        display: flex;
    }

    .all-cloth {
        padding-right: 160px;
    }

    .saree-cloth {
        padding-right: 100px;
    }

}

@media screen and (max-width:1500px) {

    .saree-list {
        gap: 60px;
    }

    .saree-layout {
        margin: 40px 20px 10px 20px;
    }

    .saree-cloth {
        padding: 0;
    }

    .all-cloth {
        padding: 0;
    }
}