.Togale {
    position: fixed;
    left: 0;
    top: 0;
    width: 80%;
    height: 100%;
    background-color: #ffffff;
    z-index: 9999;
    transform: translateX(-120%);
    transition: 0.4s;
}

.show-pay .Togale {
    transform: translateX(0);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
    display: none;
    overflow: auto;
}

.show-pay .overlay {
    display: block;
}

.Togale {
    padding: 20px 20px 20px 20px;
    background: linear-gradient(pink, whitesmoke, hotPink);

}

.expand-side {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 30px;
}

.side-color {

    width: 58px;
    height: 58px;
    background: linear-gradient(#F3F3F3, #FFFFFF);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
    border-radius: 34px;
    cursor: pointer;
    position: relative;
    padding: 4px;


}

.side-color:hover .header-hover {
    display: block;
}




.top {
    padding-top: 5px;
}

.side-text {
    font-size: 20px;
    font: normal normal normal 18px/30px Poppins;
    letter-spacing: 0.07px;
    color: black;
    opacity: 1;
}

.join {
    background: #000000 0% 0% no-repeat padding-box;
    opacity: 1;
    font: normal normal normal 18px 'Poppins';
    letter-spacing: 0.07px;
    color: #FFFFFF;
    opacity: 1;
    border: none;
    font: normal normal normal 18px 'Poppins';
    width: 90%;
    height: 41px;
    margin: 50px 0px 0px 0px;
    border-radius: 20px;
}

.log-in {
    background: #000000 0% 0% no-repeat padding-box;
    opacity: 1;
    font: normal normal normal 18px 'Poppins';
    letter-spacing: 0.07px;
    color: #FFFFFF;
    opacity: 1;
    border: none;
    font: normal normal normal 18px 'Poppins';
    width: 90%;
    height: 41px;
    margin: 50px 0px 0px 0px;
    border-radius: 20px;
}

.side-logo {
    display: block;
    margin: 0 auto;
}